<div class="row">
  <div class="col-md-7">
    <h3>{{ movieList }}</h3>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <select [formControl]="select" (change)="onOrderSelectionChange(select.value)" class="form-control" name="oder" id="order">
        <option selected disabled value="Order by">Order By</option>
        <option value="date">Date Order</option>
        <option value="alphabetical">Alphabetical Order</option>
      </select>
      <h4 *ngIf="!(select.value === 'Order by')">Ordered by: {{ select.value }}</h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="list-group" *ngIf="movies && movies.length">
      <app-movie-item

        *ngFor="let movie of movies | paginate: { itemsPerPage: 10, currentPage: p }"
        [movie]="movie"
        (movieSelected)="emitSelectedMovie($event)"
      >
      </app-movie-item>
    </ul>
  </div>
</div>



<pagination-controls (pageChange)="p = $event"></pagination-controls>

<div *ngIf="!movies.length">Sorry, there is not such movie in this list!</div>
